:root {
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);
  --neutral-pale-blue: hsl(225, 100%, 98%);
  --neutral-gray-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
  --primary-font: 'Red Hat Display', sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 15px;
  display: grid;
  grid-template-rows: 1fr auto;

  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  background-color: var(--primary-pale-blue);
  background-image: url(../assets/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 600px) {
  body {
    background-image: url(../assets/images/pattern-background-desktop.svg);
  }
}

/* Hidden elements for accessibility */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.container {
  /* min-height: 95vh; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

main {
  max-width: 327px;
  min-height: 567px;
  margin: 0 auto;
  border-radius: 0.75rem;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  align-self: center;
}

.hero-image-wrapper {
  background-image: url(../assets/images/illustration-hero.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 160px;
}

.content-wrapper {
  padding: 2rem 1.5rem;
}

.content-wrapper h2 {
  color: var(--neutral-dark-blue);
  font-size: 1.375rem;
  margin-bottom: 1rem;
}

.content-wrapper > p,
.content-wrapper > a {
  color: var(--neutral-gray-blue);
}

.content-wrapper > p {
  font-weight: 500;
  padding: 0 0.5rem;
}

.content-wrapper > a {
  font-weight: 900;
}

.content-wrapper > a:hover {
  text-decoration: none;
  color: var(--neutral-dark-blue);
}

.subscription-block {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
  background-color: var(--neutral-pale-blue);
}

.subscription-block > * {
  align-self: center;
}

.subscription-block img {
  background: var(--primary-pale-blue);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 1.25rem;
}

.subscription-block div {
  margin-right: 3.125rem;
}

.subscription-block a {
  font-size: 13px;
  font-weight: 700;
  color: var(--primary-bright-blue);
}

.subscription-block a:hover {
  text-decoration: none;
  opacity: 0.65;
}

.subscription-block p {
  font-size: 14px;
}

.subscription-block div p:nth-of-type(1) {
  color: var(--neutral-dark-blue);
  font-weight: 900;
}

.subscription-block div p:nth-of-type(2) {
  color: var(--neutral-gray-blue);
  font-weight: 500;
}

button {
  width: 100%;
  background: var(--primary-bright-blue);
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  color: var(--neutral-pale-blue);
  font-family: inherit;
  font-weight: 900;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0px 31px 32px -11px rgba(56, 41, 224, 0.29);
  -webkit-box-shadow: 1px 31px 32px -11px rgba(56, 41, 224, 0.29);
  -moz-box-shadow: 1px 31px 32px -11px rgba(56, 41, 224, 0.29);
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}

footer {
  /* background: var(--primary-bright-blue); */
  /* padding: 0.75rem 1.25rem 0.75rem 0; */
}

@media (max-width: 600px) {
  footer {
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
  }
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.fm-byline,
.fm-byline a {
  color: var(--primary-pale-blue);
}
